PORT=3000

DB_URI=your_db_uri

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1h

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

MAIL_HOST=your_mail_host
MAIL_PORT=587
MAIL_USER=your_mail_user
MAIL_PASS=your_mail_pass
MAIL_FROM="Okla, <your_mail_from>"
